header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    max-height: 12rem;
    padding: 2rem;
}

.github-profile img {
    height: 100%;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
}

.project-card {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
